@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #8cbddb;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#text {
    height: 70%;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    color: #fff;
    font-family: 'Fira Code', monospace;
}

#main {
    height: 30%;
    width: 100%;
    overflow: hidden;
}

#buttons {
    position: absolute;
    top:10px;
    right:10px;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-wrap: wrap-reverse;
}
#buttons>#btnPlayPause{
    font-size: 4rem;
    height: 100%;
}
#buttons>#btnSlow,
#buttons>#btnNormal,
#buttons>#btnFast
{
    transition: all 0.5s;
    font-size: 1.5rem;
    margin-right: -0.5rem;
    opacity: .5;
}
#buttons>#btnPlayPause:hover,
#buttons>#btnSlow:hover,
#buttons>#btnNormal:hover,
#buttons>#btnFast:hover
{
    transition: all 0.5s;
    opacity: 1;
    cursor: pointer;
}

#buttons>#btnSlow.activated,
#buttons>#btnNormal.activated,
#buttons>#btnFast.activated {
    transform: translateX(-50%);
    opacity: 1;
    transition: all 0.5s;
}